.main {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #fff;
}
.headerItems {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
  font-weight: 400;
  box-shadow: 0px 0px 10px 0px rgb(156, 155, 155);
  align-items: center;
}
.logo {
  text-decoration: none;
}

.navbar {
  display: flex;
  font-size: 20px;
  gap: 30px;
}

.navbar li {
  list-style: none;
}
.navbar li a {
  text-decoration: none;
  color: rgb(70, 69, 69);
}

.navbar li a:hover {
  border-bottom: 0.5px solid rgb(156, 155, 155);
}
.login{
  display: flex;
  gap: 1rem;
  width: 103px;
  justify-content: center;
}

.login button {
  all: unset;
  cursor: pointer;
}

.userWrapper {
  display: flex;
  justify-items: center;
  gap: 1rem;
}

.logout {
  margin: auto;
  
}

.hiUser {
  font-weight: 600;
  text-align: center;
}

.tooltipContainer {
  position: relative;
  display: inline-block;
}

.tooltipLogin {
  position: absolute;
  left: -10%;
  transform: translateY(-110%);
  padding: 2px 6px;
  background-color: #484747;
  color: white;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
}
.tooltipLogout {
  position: absolute;
  left: -100%;
  transform: translateY(-140%);
  padding: 2px 6px;
  background-color: #484747;
  color: white;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
}

.tooltipContainer:hover .tooltipLogin,
.tooltipContainer:hover .tooltipLogout {
  opacity: 1;
}
