.pageTitle {
    text-align: center;
    padding: 2rem;
}

.askQuestionWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    
}
.inputGroup textarea {
    font-size: 16px;
    box-shadow: var(--input-shadow);
    border-radius: 4px;
    border: 1px solid #ccc;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.wrapper button {
    width: 100px;
    padding: 5px 0;
    cursor: pointer;
}

.error {
    color: var(--error);
    padding: 5px;
}

