.wrapper {
    border-bottom: 1px solid grey;
    display: flex;
    gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.userInfoWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    border-right: 1px solid grey;
    width: 120px;
    margin: 5px 0;
}
.infoWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 110px;
}

.answerWrapper {
    padding: 10px;
    text-wrap: wrap;
}
.answerWrapper p{
    font-weight: 500;
}

.avatar {
    width: 40px;
}

.infoWrapper
.deleteBtn {
    background-color: var(--button-red);
}

@media (max-width: 576px) {
    .answerWrapper p{
        font-size: 14px;
    }
}