.signInWrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 2rem;
  align-items: center;
  gap: 1rem;
  width: 20rem;
  padding: 2rem 0;
  border-radius: 8px;
  box-shadow: 0px 0px 14px 1px var(--primary-color);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  width: 200px;
  position: relative;
}

.inputGroup input {
  font-size: 16px;
  padding: 2px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  color: rgb(44, 41, 41);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.inputGroup label,
.signInWrapper h1 {
  color: var(--primary-color);
}

.wrapper input {
  padding: 5px;
}

.wrapper button {
  width: 100px;
  padding: 5px;
}

.error {
  color: var(--error);
}
.success {
  color: green;
}

.signInBtn {
  padding: 8px 20px;
}

.pswValid {
  font-size: 11px;
}

.eyeIcon {
  position: absolute;
  right: 5px;
  top: 20px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
