.answerWrapper {
  margin: 2rem;
  color: var(--text-color);
}

.error {
  color: var(--error);
  padding: 5px;
}

.postAnswerBtn {
  padding: 4px 5px;
}

.inputGroup textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  box-shadow: var(--input-shadow);
  background-color: var(--secondary-color);
}
