.askLink a{
    text-decoration: none;
    background-color: var(--button-blue);
    padding:6px 5px;
    border-radius: 4px;
    color: #fff;

}

.title {
    text-align: center;
    padding-top: 1rem;
    color: var(--primary-color);
}

.askLink {
    padding: 1rem;
    text-align: end;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
  }
  
  .pagination button {
    padding: 0.5rem 1rem;
    background-color: var(--button-blue);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

@media (max-width: 768px) {
    .askLink {
        display: flex;
        justify-content: center;
    }
}