.wrapper {
    max-width: 400px;
    background-color: rgb(243, 220, 178);
    border-left: 4px solid rgb(255, 154, 3);
    border-radius: 2px;
    margin: 2rem;
    padding: 3rem;
}

.wrapper h4 {
    color: var(--button-blue);
}
.wrapper a{
    text-decoration: none;
}
.wrapper a:hover{
    text-decoration: underline;
}