.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 1rem;
}

.cardWrapper {
    border: 1px solid grey;
    border-radius: 1rem;
    display: flex;
    gap: 2rem;
    background-color: var(--secondary-color) 
}

.userInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    border-right: 1px solid grey;
    min-width: 120px;
    margin: 5px 0;
    color: var(--primary-color);
}

.user {
    display: flex;
    align-items: center;
    gap: 5px;
}

.avatar {
    width: 1.5rem;
    border-radius: 50%;
}

.cardWrapper:hover {
    background-color: rgb(235, 232, 232);
}

.title a {
    text-decoration: none;
    color: rgb(39, 160, 241);
}

.title a:hover {
    color: rgb(9, 142, 182);
}

.userInfo .deleteBtn {
    background-color: var(--button-red);
}

@media (max-width: 768px) {
    .title a h2 {
      font-size: 16px;
    }
    .cardWrapper {
        gap: 1rem;
        padding: 10px;
    }
}