.wrapper {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 5rem;
    right: 8%;
    background-color: var(--secondary-color);
    border-radius: 10px;
    border: 1px solid black;
    padding: 1rem;
    animation: accountMenu;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.avatar {
    width: 60px;
    border-radius: 10px;
}

.line {
    border-bottom: 1px solid var(--primary-color);
    margin: 1rem;
}


@keyframes accountMenu {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }